<form class="user-form">
  <h3>Signup</h3>
  <div class="form-group">
    <label for="signupName">Name</label>
    <input id="signupName" type="text" class="form-control" placeholder="Firstname Lastname">
  </div>
  <div class="form-group">
    <label for="signupEmail">Email</label>
    <input id="signupEmail" type="email" class="form-control" placeholder="name@email.com">
  </div>
  <div class="form-group">
    <label for="signupPassword">Password</label>
    <input id="signupPassword" type="password" class="form-control" placeholder="******">
  </div>
  <div class="form-group">
    <label for="signupPhone">Phone</label>
    <input id="signupPhone" type="tel" class="form-control" placeholder="(123) 456 - 7890">
  </div>
  <div class="form-group">
    <label for="signupAddr">Address</label>
    <input id="signupAddr" type="tel" class="form-control" placeholder="123 Street">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
