<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Creating a community to fulfill the right needs.</h1>
    <p class="lead">Empowering organizations to communicate needs quickly.
Connecting volunteers and donors to organizations most relevant in their communities.</p>
    <!-- <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  </div>
</div>

<div class="container">
  <div class="row justify-content-center showcards">
    <div class="col-5 card text-center">
      <div class="card-body">
        <h5 class="card-title">Volunteer</h5>
        <p class="card-text">Find what is most needed in your community. Connect your calendar, share with your friends. Find opportunities to server your community or donate the items most needed to help your neighbors. Earn badges and awards for items or time donated.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Help</a>
      </div>
    </div>
    <div class="col-5 card text-center">
      <div class="card-body">
        <h5 class="card-title">Organization</h5>
        <p class="card-text">Manage your organization's donation and volunteer needs in one portal. Seamlessly upload list of items and use push notifications, emails, and text messaging to check off fulfilled needs. Track needs and fulfillment trends over time.</p>
        <a class="btn btn-primary btn-lg" href="javascript:;" ng-click="$ctrl.changePage('organization')" role="button">Connect</a>
      </div>
    </div>
  </div>
</div>
