<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2 class="be-white">About Us</h2>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col card">
      <div class="card-body">
        <h3>NONPROFITS</h3>
        <p>Nonprofits around San Francisco can apply and join GiveHub to access more donations, employ new skills, and make importan connections.</p>
        <br>
        <h3>DONORS</h3>
        <p>You can give what you can to your favorite organizations; You will get feedback about how great your donations are put to work by our trusted partner organizations.</p>
        <br>
        <h3>OUR IMPACT</h3>
        <p>Nonprofits have the resource they need to help communities all over San Francisco and become more awesome!</p>
      </div>
    </div>
  </div>
</div>
