<div class="container">
  <div class="row showcards">
    <div class="col-3 card">
      <div class="card-body">
        <h2>Welcome, Test</h2>
      </div>
    </div>
    <div class="col-8 card">
      <div class="card-body">
        <div class="row">
          <div class="col-3 border-right">
            <ul id="catlinks" class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">Food</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Clothing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Toiletries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Medical</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Technology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Art</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Other</a>
              </li>
            </ul>
          </div>
          <div class="col-9">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Quantity</th>
                  <th scope="col">Item</th>
                  <th scope="col">Location</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>400</td>
                  <td>can of beans</td>
                  <td>San Francisco, CA</td>
                </tr>
                <tr>
                  <td>50</td>
                  <td>whole chickens</td>
                  <td>Oakland, CA</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>cases of apple slices</td>
                  <td>San Jose, CA</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
