<div class="container">
  <div class="row showcards">
    <div class="col-3 card profilecard">
      <div class="card-body">
        <h4>Welcome,</h4>
        <h3>Carly</h3>
        <br>
        <p><b>Email:</b> carly@gmail.com</p>
        <p><b>Phone:</b> <br>(123)456-7890</p>
      </div>
    </div>
    <div class="col-8 card">
      <div class="card-body">
        <div class="row">
          <div class="col-3 border-right">
            <ul id="catlinks" class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">Food</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Clothing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Toiletries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Medical</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Technology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Art</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Other</a>
              </li>
            </ul>
          </div>
          <div class="col-9">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Quantity</th>
                  <th scope="col">Item</th>
                  <th scope="col">Location</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>400</td>
                  <td>can of beans</td>
                  <td>San Francisco, CA</td>
                </tr>
                <tr>
                  <td>50</td>
                  <td>whole chickens</td>
                  <td>Oakland, CA</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>cases of apple slices</td>
                  <td>San Jose, CA</td>
                </tr>
                <tr>
                  <td>80</td>
                  <td>cans of tuna</td>
                  <td>San Francisco, CA</td>
                </tr>
                <tr>
                  <td>100</td>
                  <td>tomatoes</td>
                  <td>San Jose, CA</td>
                </tr>
                <tr>
                  <td>75</td>
                  <td>1lb bags of pasta</td>
                  <td>San Jose, CA</td>
                </tr>
                <tr>
                  <td>50</td>
                  <td>bags of lettuce</td>
                  <td>San Jose, CA</td>
                </tr>
                <tr>
                  <td>100</td>
                  <td>1 lb bags of brown rice</td>
                  <td>San Francisco, CA</td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>squash</td>
                  <td>Berkeley, CA</td>
                </tr>
                <tr>
                  <td>45</td>
                  <td>10 lb bags of potatoes</td>
                  <td>San Jose, CA</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>10 lb bags of potatoes</td>
                  <td>San Jose, CA</td>
                </tr>
                <tr>
                  <td>50</td>
                  <td>pumpkins</td>
                  <td>Berkeley, CA</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>watermelons</td>
                  <td>Berkeley, CA</td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>boxes of strawberries</td>
                  <td>Oakland, CA</td>
                </tr>
                <tr>
                  <td>80</td>
                  <td>bags of chicken thighs</td>
                  <td>San Jose, CA</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
