@import "var";
@import "bootstrap";

/* Settings */
$accent: #fa5770;
$border-color: #ddd;
$radius: 10px;

/* Home Style */
#navbar {
  margin-top: 2.5rem;
  margin-bottom: 1rem;

  .nav-item {
    margin: 5px;
    font-weight: bold;

    :hover {
      border: 1px solid $accent;
    }

    .active {
      background-color: $accent;
      color: $white;
    }
  }
}

/* Volunteer Style */
#map {
  height: 100%;
}

.infoWindow {
  width: 500px;
}

/* Utilities */
.full-height {
  height: 100vh;
}

.map-height {
  height: 75vh;
}

.user-form {
  border: 1px solid $border-color;
  border-radius: $radius;
  padding: 25px;
}

/* Dropzone */
.dropzone {
    cursor: pointer;
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    background: whitesmoke;
    border-radius: 4px;
    font: caption;
    text-align: center;
    border: 1px dotted silver;
    box-sizing: border-box;

    // Transcluded content
    p {
        padding-top: 32.5px;
        font-size: 16px;
    }
    span {
        display: block;
        font-size: 10px;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
    }
    // File input
    input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 9999px; // <= Lazy dog – cover it all
        opacity: 0;
        cursor: pointer;
    }
}
