@import "var";
@import "bootstrap";

/* Settings */
$border-color: #ddd;
$radius: 10px;

.full-height {
  height: 100vh;
}

.user-form {
  border: 1px solid $border-color;
  border-radius: $radius;
  padding: 25px;
}
