<!doctype html>
<html lang="end">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GiveHub | Home</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body ng-app="giveHub" ng-controller="mainController">
    <gh-navbar route="route"></gh-navbar>

    <gh-page-home ng-if="route == 'home'"></gh-page-home>
    <gh-page-about ng-if="route == 'about'"></gh-page-about>
    <gh-page-volunteer ng-if="route == 'volunteer'"></gh-page-volunteer>
    <gh-page-org ng-if="route == 'organization'"></gh-page-org>
  </body>
</html>
