<!doctype html>
<html lang="end">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GiveHub | Volunteer</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body ng-app="voPortal" ng-controller="mainController">
    <vo-navbar route="route"></vo-navbar>

    <vo-page-dashboard ng-if="route == 'dashboard'"></vo-page-dashboard>
    <vo-page-donate ng-if="route == 'donate'"></vo-page-donate>
    <vo-page-profile ng-if="route == 'profile'"></vo-page-profile>
  </body>
</html>
